<div class="animated fadeIn">

    <div class="row">
        <div class="col-md-12">


            <div class="card border-dark" style="border-radius:0px;">



                <div class="card-header border-dark text-white bg-dark" style="border-radius:0px;">
                    <strong>Registros</strong>
                    <div class="card-header-actions">
                        <div class="card-header-action">
                            <button type="button" class="btn btn-outline-light" style="border-radius:0px;"
                                tooltip="Agregar nuevo registro" placement="top" data-toggle="modal"
                                (click)="primaryModal.show()"><i class="fa fa-plus"></i>&nbsp;&nbsp;Nuevo
                                registro</button>
                        </div>
                    </div>
                </div>
                <ngx-spinner></ngx-spinner>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                                    class="table table-sm table-bordered table-hover table-outline display compact nowrap table-striped">
                                    <thead class="text-center thead-dark">
                                        <tr>
                                            <th>Avatar</th>
                                            <th>Nombre Completo</th>
                                            <th>Nro. Identidad</th>
                                            <th>Correo Electronico</th>
                                            <th>Tel. Movil</th>
                                            <th>Genero</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let cPerson of persons; let i = index">
                                            <td class="text-center"><img src="{{cPerson.person_image}}"
                                                    class="img-avatar" alt="img-perfil"
                                                    style="max-height: 30px; max-width: 30px;" /></td>
                                            <td class="text-left">{{cPerson.person_name}}</td>
                                            <td class="text-left">{{cPerson.person_identity}}</td>
                                            <td class="text-left">{{cPerson.person_email}}</td>
                                            <td class="text-left">{{cPerson.person_celphone}}</td>
                                            <td class="text-center">
                                                <div *ngIf="cPerson.person_genus == 'M'">
                                                    <span
                                                        class="badge badge-pill badge-dark">{{cPerson.person_genus}}</span>
                                                </div>
                                                <div *ngIf="cPerson.person_genus == 'F'">
                                                    <span class="badge badge-pill badge-danger"
                                                        style="background-color:#fbcbfb;padding-left: 9px;padding-right: 9px;">{{cPerson.person_genus}}</span>
                                                </div>
                                            </td>
                                            <td class="text-center">
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-outline-dark btn-sm"
                                                        (click)="primaryModal.show()" style="border-radius:0px;"
                                                        data-toggle="tooltip" data-placement="bottom" title="Editar"><i
                                                            class="fa fa-pencil"></i></button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div bsModal #primaryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-3 bg-dark padre" style="padding:1rem;">
                            <div class="form-group text-center">
                                <img src="assets/img/icons/add-user.png" class="img-fluid" alt="...">
                                <hr style="background-color:#ffffff;">
                                <h4 class="modal-title">{{action}}</h4>
                            </div>

                        </div>
                        <div class="col-sm-9" style="padding:1rem;">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h4>Registro | <small>Datos Personales</small></h4>
                                </div>
                                <div class="col-sm-4">
                                    <button type="button" class="close" (click)="primaryModal.hide()" (click)="Clean()"
                                        aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>
                            <hr>
                            <form [formGroup]="RegPersonForm" (ngSubmit)="Save(person)" autocomplete="off" novalidate>
                                <div class="row">

                                    <div class="col-sm-6">

                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroup-sizing-default"><i
                                                        class="fa fa-user" aria-hidden="true"></i></span>
                                            </div>
                                            <input type="text" class="form-control " aria-label="names"
                                                aria-describedby="inputGroup-sizing-default" name="names" id="names"
                                                formControlName="names" [(ngModel)]="person.person_name"
                                                placeholder="[Ingrese nombre completo]"
                                                [ngClass]="{ 'is-invalid': submitted && f.names.errors }" />
                                            <div *ngIf="submitted && f.names.errors" class="invalid-feedback">
                                                <div *ngIf="f.names.errors.required">
                                                    *Campo requerido
                                                </div>
                                            </div>

                                        </div>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroup-sizing-default"><i
                                                        class="fa fa-mobile" aria-hidden="true"></i></span>
                                            </div>
                                            <input type="text" class="form-control" aria-label="celphone"
                                                aria-describedby="inputGroup-sizing-default" name="celphone"
                                                id="celphone" formControlName="celphone"
                                                [(ngModel)]="person.person_celphone"
                                                placeholder="[Ingrese nro. de teléfono móvil]"
                                                [ngClass]="{ 'is-invalid': submitted && f.celphone.errors }" />
                                            <div *ngIf="submitted && f.celphone.errors" class="invalid-feedback">
                                                <div *ngIf="f.celphone.errors.required">
                                                    *Campo requerido
                                                </div>
                                            </div>
                                        </div>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroup-sizing-default"><i
                                                        class="fa fa-envelope" aria-hidden="true"></i></span>
                                            </div>
                                            <input type="email" class="form-control" aria-label="email"
                                                aria-describedby="inputGroup-sizing-default" name="email" id="email"
                                                formControlName="email" [(ngModel)]="person.person_email"
                                                placeholder="[Ingrese correo electronico]"
                                                [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                                <div *ngIf="f.email.errors.required">
                                                    *Campo requerido
                                                </div>
                                            </div>
                                        </div>

                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroup-sizing-default"><i
                                                        class="fa fa-book" aria-hidden="true"></i></span>
                                            </div>

                                            <select type="text" class="form-control" id="course" name="course"
                                                formControlName="course" [(ngModel)]="person.course_id" required
                                                [ngClass]="{ 'is-invalid': submitted && f.course.errors }">
                                                <option disabled selected [ngValue]="0">[Seleccione un módulo]</option>
                                                <option *ngFor="let item of allCourses" [ngValue]="item.course_id">
                                                    {{item.course_description}}</option>
                                            </select>

                                            <div *ngIf="submitted && f.course.errors" class="invalid-feedback">
                                                <div *ngIf="f.course.errors.required">
                                                    *Campo requerido
                                                </div>
                                            </div>

                                        </div>

                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroup-sizing-default"><i
                                                        class="fa fa-users" aria-hidden="true"></i></span>
                                            </div>

                                            <select type="text" class="form-control" id="profile" name="profile"
                                                formControlName="profile" [(ngModel)]="person.codigo_rol" required
                                                [ngClass]="{ 'is-invalid': submitted && f.profile.errors }">
                                                <option disabled selected [ngValue]="00">[Seleccione un perfil]</option>
                                                <option *ngFor="let item of allProfiles" [ngValue]="item.profile_id">
                                                    {{item.profile_desciption}}</option>
                                            </select>

                                            <div *ngIf="submitted && f.profile.errors" class="invalid-feedback">
                                                <div *ngIf="f.profile.errors.required">
                                                    *Campo requerido
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-sm-6">

                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroup-sizing-default"><i
                                                        class="fa fa-id-card" aria-hidden="true"></i></span>
                                            </div>
                                            <input type="text" class="form-control" aria-label="identity"
                                                aria-describedby="inputGroup-sizing-default" name="identity"
                                                id="identity" formControlName="identity"
                                                [(ngModel)]="person.person_identity"
                                                placeholder="[Ingrese nro. de identidad]"
                                                [ngClass]="{ 'is-invalid': submitted && f.identity.errors }" />
                                            <div *ngIf="submitted && f.identity.errors" class="invalid-feedback">
                                                <div *ngIf="f.identity.errors.required">
                                                    *Campo requerido
                                                </div>
                                            </div>
                                        </div>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroup-sizing-default"><i
                                                        class="fa fa-phone" aria-hidden="true"></i></span>
                                            </div>
                                            <input type="text" class="form-control" aria-label="phone"
                                                aria-describedby="inputGroup-sizing-default" name="phone" id="phone"
                                                formControlName="phone" [(ngModel)]="person.person_phone"
                                                placeholder="[Ingrese nro. de teléfono fijo]"
                                                [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />
                                            <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                                                <div *ngIf="f.phone.errors.required">
                                                    *Campo requerido
                                                </div>
                                            </div>
                                        </div>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroup-sizing-default"><i
                                                        class="fa fa-birthday-cake" aria-hidden="true"></i></span>
                                            </div>
                                            <input type="date" class="form-control" aria-label="birthdate"
                                                aria-describedby="inputGroup-sizing-default" name="birthdate"
                                                id="birthdate" formControlName="birthdate"
                                                [(ngModel)]="person.person_birthdate"
                                                placeholder="[Ingrese fecha de nacimiento]"
                                                [ngClass]="{ 'is-invalid': submitted && f.birthdate.errors }" />
                                            <div *ngIf="submitted && f.birthdate.errors" class="invalid-feedback">
                                                <div *ngIf="f.birthdate.errors.required">
                                                    *Campo requerido
                                                </div>
                                            </div>
                                        </div>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroup-sizing-default"><i
                                                        class="fa fa-venus-mars" aria-hidden="true"></i></span>
                                            </div>
                                            <select type="text" class="form-control" id="genus" name="genus"
                                                formControlName="genus" [(ngModel)]="person.person_genus" required
                                                [ngClass]="{ 'is-invalid': submitted && f.genus.errors }">
                                                <option disabled selected value>[Seleccione un genero]</option>
                                                <option value="F">Femenino</option>
                                                <option value="M">Masculino</option>
                                            </select>
                                            <div *ngIf="submitted && f.genus.errors" class="invalid-feedback">
                                                <div *ngIf="f.genus.errors.required">
                                                    *Campo requerido
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="input-group mb-12">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroup-sizing-default"><i
                                                        class="fa fa-map-marker" aria-hidden="true"></i></span>
                                            </div>

                                            <textarea rows="3" class="form-control" id="direction" name="direction"
                                                formControlName="direction" [(ngModel)]="person.person_direction"
                                                placeholder="[Ingrese dirección]" required
                                                [ngClass]="{ 'is-invalid': submitted && f.direction.errors }"></textarea>

                                            <div *ngIf="submitted && f.direction.errors" class="invalid-feedback">
                                                <div *ngIf="f.direction.errors.required">
                                                    *Campo requerido
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <button type="submit" class="btn btn-outline-dark float-right"
                                            style="border-radius:0px; margin:5px" (click)="Save(typeResource)"
                                            [disabled]="RegPersonForm.$valid"><i
                                                class="fa fa-save"></i>&nbsp;&nbsp;Guardar</button>

                                        <button type="button" class="btn btn-outline-warning float-right"
                                            style="border-radius:0px; margin:5px" (click)="primaryModal.hide()"
                                            (click)="Clean()"><i class="fa fa-times"></i>&nbsp;&nbsp;Cancelar</button>


                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>