<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="input-group col-md-3 col-xs-4" style="padding: 0; margin-bottom: 3.5vh">
        <strong>Modulo: &nbsp; &nbsp;</strong>
        <select type="text" class="form-control" [(ngModel)]="class.module_id" (ngModelChange)="loadClasses()">
          <option disabled selected value>[Seleccione un modulo]</option>
          <option *ngFor="let m of modules" [ngValue]="m.course_id">{{m.course_name}} </option>
        </select>
      </div>
      <div class="card border-dark" style="border-radius:0px;">
        <div class="card-header border-dark text-white bg-dark" style="border-radius:0px;">
          <strong>Aulas</strong>
          <div class="card-header-actions">
            <div class="card-header-action">
              <button type="button" class="btn btn-outline-light" style="border-radius:0px;"
                tooltip="Agregar nueva seccion" placement="top" data-toggle="modal">
                <i class="fa fa-plus"></i>&nbsp;&nbsp;Nuevo
                registro
              </button>
            </div>
          </div> 
        </div>
        <ngx-spinner></ngx-spinner>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="table-responsive">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                  class="table table-sm table-bordered table-hover table-outline display compact nowrap table-striped">
                  <thead class="text-center thead-dark">
                    <tr>
                      <th>Nombre</th>
                      <th>Descripcion</th>
                      <th>Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let c of classes; let i = index">
                      <td class="text-left">{{c.class_name}}</td>
                      <td class="text-left">{{c.class_description}}</td>
                      <td class="text-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-outline-dark btn-sm" style="border-radius:0px;"
                            data-toggle="tooltip" data-placement="bottom" title="Editar"><i
                              class="fa fa-pencil"></i></button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>