<div class="animated fadeIn" style="position: relative; top: 100px">
    <div class=" container ">
        <div class="row">
            <div class="col-md-5 mx-auto ">
                <div class="card-group">
                    <div class="card p-2">
                        <div class="card-body" align="center">
                            <img src="assets/img/logo/museum.png" alt=""><br><br>
                            <h3>
                                Matricula en Linea |
                                <small class="text-muted"> Inicio de sesión</small>
                            </h3>
                            <hr>
                            <form [formGroup]="loginForm" (ngSubmit)="Login(bodyLogin)" autocomplete="off">
                                <div class="input-group mb-3 ">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text "><i class="icon-user "></i></span>
                                    </div>
                                    <input type="text " class="form-control " id="username " formControlName="username" [(ngModel)]="bodyLogin.username" placeholder="Usuario" required>
                                </div>
                                <div class="input-group mb-4 ">
                                    <div class="input-group-prepend ">
                                        <span class="input-group-text "><i class="icon-lock "></i></span>
                                    </div>
                                    <input type="password" class="form-control " id="userpassword " formControlName="userpassword" [(ngModel)]="bodyLogin.userpassword" placeholder="Contraseña" required>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-primary px-4 " [disabled]="!loginForm.valid"><i class="fa fa-sign-in"></i>&nbsp;&nbsp;Iniciar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>