<div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12">
  
  
        <div class="card">
  
  
  
          <div class="card-header" style="background:white">
            <strong>Perfil sitio</strong>
            <div class="card-header-actions">
              <div class="card-header-action">
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">

                <div class="table-responsive">
                  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-sm table-bordered table-hover table-outline display compact nowrap">
                    <thead class="text-center">
                      <tr>
                        <th>Nombre</th>
                        <th>Correos</th>
                        <th>Telefonos</th>
                        <th>Redes de contacto</th>
                        <th>Direcciones</th>
                        <th>Acciones</th>
                      </tr>
                    </thead>
                    <tbody class="text-center">
                      <tr *ngFor="let list of typeData; let i = index">
                        <td>{{list.description}}</td>                        
                        <td>{{list.email}}</td>
                        <td>{{list.telephone}}</td>
                        <td>{{list.website}}</td>
                        <td>{{list.address}}</td>
                        <td>
                          <div class="btn-group">
                            <button type="button" class="btn btn-primary btn-sm" (click)="open(list)"><i
                                class="fa fa-pencil"></i>&nbsp;&nbsp;Editar</button>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table><br>
                  <h5>Logo
                      <button class="btn btn-success btn-sm" *ngIf="habilitar==1 && file!=null && file!=''" (click)="saveImg()"><i class="fa fa-save"></i>Actualizar</button>
                  </h5>
                  <table  class="table table-sm table-bordered table-hover table-outline display compact nowrap">
                    <thead class="text-center">
                      <tr>
                        <th>Logo App</th>
                        <th>Acciones</th>
                      </tr>
                    </thead>
                    <tbody class="text-center">
                      <tr *ngFor="let list of typeData; let i = index">
                        <td><img [src]="host+'logos/'+list.img" alt="" style="width:100px;height: 100px;">  </td>                        
                        <td>
                          <div class="btn-group">
                            <input type="file" class="btn btn-primary btn-sm" (click)="updateImgs(list,1)" (change)="onArchivoSeleccionado($event)"/>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <h5>Banner App
                        <button class="btn btn-success btn-sm" *ngIf="habilitar==2 && file!=null && file!=''" (click)="saveImg()"><i class="fa fa-save"></i>Actualizar</button>

                  </h5>
                  <table  class="table table-sm table-bordered table-hover table-outline display compact nowrap">
                    <thead class="text-center">
                      <tr>
                        <th>Banner App</th>
                        <th>Acciones</th>
                      </tr>
                    </thead>
                    <tbody class="text-center">
                      <tr *ngFor="let list of typeData; let i = index">
                        <td><img [src]="host+'files/'+list.cover_page" style="width:100px;height: 100px;" alt=""></td>
                        <td>
                          <div class="btn-group">
                            <input type="file" class="btn btn-primary btn-sm" (click)="updateImgs(list,2)" (change)="onArchivoSeleccionado($event)" />
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div bsModal #primaryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog " role="document">
                  <div class="modal-content">
                    <div class="modal-header bg-light">
                      <h5 class="modal-title">{{action}}</h5>
                      <button type="button" class="close" (click)="primaryModal.hide()" (click)="Clean()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body content">
                      <form [formGroup]="ComForm" (ngSubmit)="Save(PerfilInfo)" autocomplete="off">
  
                        <div class="form-group">
                          <label for="description">Nombre</label>
                          <input class="form-control letrasandnum" type="text" name="description" id="description" formControlName="description"
                            [(ngModel)]="PerfilInfo.description" placeholder="Ingrese la descripción" ><br>

                        </div>
                        <div class="form-group">
                            <label for="email">Correos</label>
                            <input class="form-control" type="text" name="email" id="email" formControlName="email"
                              [(ngModel)]="PerfilInfo.email" placeholder="Ingrese correo" ><br>
                              <button  type="button"  class="btn btn-success btn-sm" (click)="addArray(PerfilInfo.email,3)">Agregar</button><br>
                              <h5><span  style="margin:5px" class="badge badge-primary" *ngFor="let i of ArrayMult.correos">{{i}}&nbsp;&nbsp;<i class="fa fa-close" (click)="eliminarBadge(3,x)"></i></span>&nbsp;&nbsp;</h5>

                          </div>
                        <div class="form-group">
                            <label for="address">Direccion</label>
                            <input class="form-control" type="text" name="address" id="address" formControlName="address"
                              [(ngModel)]="PerfilInfo.address" placeholder="Ingrese la direccion" ><br>
                              <button type="button"  class="btn btn-success btn-sm" (click)="addArray(PerfilInfo.address,4)">Agregar</button><br>
                              <h5>   <span style="margin:5px" class="badge badge-warning " *ngFor="let i of ArrayMult.direcciones;let x=index"> {{i}} &nbsp;&nbsp;<i class="fa fa-close" (click)="eliminarBadge(4,x)"></i> </span> </h5>

                          </div>

                          

                          <div class="form-group">
                            <label for="address">Telefonos</label>
                            <input class="form-control" type="text" name="telephone" id="telephone" formControlName="telephone"
                              [(ngModel)]="PerfilInfo.telephone" placeholder="Ingrese Telefonos" ><br>
                              <button type="button"  class="btn btn-success btn-sm" (click)="addArray(PerfilInfo.telephone,1)">Agregar</button><br>
                             <h5><span style="margin:5px" class="badge badge-info" *ngFor="let i of ArrayMult.telefonos">{{i}}&nbsp;&nbsp;<i class="fa fa-close" (click)="eliminarBadge(1,x)"></i></span>&nbsp;&nbsp;</h5>


                          </div>
                          <div class="form-group">
                            <label for="website">Redes sociales</label>
                            <input class="form-control" type="text" name="website" id="website" formControlName="website"
                              [(ngModel)]="PerfilInfo.website" placeholder="Ingrese la direccion" ><br>
                              <button type="button" class="btn btn-success btn-sm" (click)="addArray(PerfilInfo.website,2)">Agregar</button><br>
                             <h5> <span style="margin:5px" class="badge badge-secondary" *ngFor="let i of ArrayMult.redes">{{i}}&nbsp;&nbsp;<i class="fa fa-close" (click)="eliminarBadge(2,x)"></i></span>&nbsp;&nbsp;</h5>


                          </div>
                       
                        
                      </form>
                    </div>
                    <div class="modal-footer">
                        <!--{{ArrayMult.redes.length}} <br>
                        {{ArrayMult.telefonos.length}} <br>
                        {{ArrayMult.direcciones.length}} <br>
                        {{ArrayMult.correos.length}} <br>-->
                        <button type="submit" class="btn btn-primary btn-sm"  [disabled]="!ComForm.valid || ArrayMult.redes.length==0 || ArrayMult.telefonos.length==0 || ArrayMult.direcciones.length==0 || ArrayMult.correos.length==0" (click)="Save(PerfilInfo)"><i class="fa fa-save"></i>&nbsp;&nbsp;Guardar</button>
  
                      <button type="button" class="btn btn-danger btn-sm" (click)="primaryModal.hide()" (click)="Clean()"><i
                          class="fa fa-ban"></i>&nbsp;&nbsp;Cancelar</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  