<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">


      <div class="card">



        <div class="card-header" style="background:white">
          <strong>Centros agregados</strong>
          <div class="card-header-actions">
            <div class="card-header-action">
              <button type="button" class="form-control" class="btn btn-success btn-sm" data-toggle="modal" (click)="open('')"><i
                  class="fa fa-plus"></i>&nbsp;&nbsp;Nuevo centro</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="table-responsive">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-sm table-bordered table-hover table-outline display compact nowrap">
                  <thead class="text-center">
                    <tr>
                      <th>Categoría Lugar</th>
                      <th>País</th>
                      <th>Departamento</th>
                      <th>Descripción</th>
                      <th>Correo</th>
                      <th>Teléfono</th>
                      <th>Sitio web</th>
                      <th>Logo</th>
                      <th>Estado</th>
                      <th>Dirección</th>
                      <th>Acciones</th>
                    </tr>
                  </thead>
                  <tbody class="text-center">
                    <tr *ngFor="let list of typeData; let i = index">
                      <td>{{filterPlace(list.idcategoryplace)}}</td>
                      <td>{{filterCountry(list.idcountry)}}</td>
                      <td>{{filterDepto(list.iddepto)}}</td>
                      <td>{{list.description}}</td>
                      <td>{{list.email}}</td>
                      <td>{{list.telephone}}</td>
                      <td>{{list.website}}</td>

                      <td><img src="{{host+list.img}}" alt="" style="width:50px;height:50px"></td>
                      <td>{{list.state}}</td>
                      <td>{{list.address}}</td>
                      <td>
                        <div class="btn-group">
                          <button type="button" class="btn btn-primary btn-sm" (click)="open(list)"><i class="fa fa-pencil"></i>&nbsp;&nbsp;Editar</button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div bsModal #primaryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
              aria-hidden="true">
              <div class="modal-dialog modal-lg " role="document">
                <div class="modal-content">
                  <div class="modal-header bg-light">
                    <h5 class="modal-title">{{action}}</h5>
                    <button type="button" class="close" (click)="primaryModal.hide()" (click)="Clean()" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body content">
                    <form [formGroup]="ComForm" (ngSubmit)="Save(Centros)" autocomplete="off" novalidate>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="idcategoryplace">Categoría del lugar</label>

                            <select class="form-control" id="idcategoryplace" name="idcategoryplace" formControlName="idcategoryplace"
                              [(ngModel)]="Centros.idcategoryplace">
                              <option value=0>Seleccione </option>
                              <option *ngFor="let list of DataCategoryPlace" [ngValue]="list.id">{{list.description}}</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="idcountry">País del centro</label>

                            <select class="form-control" id="idcountry" name="idcountry" formControlName="idcountry"
                              [(ngModel)]="Centros.idcountry" (change)="loadDeptosFilter(Centros.idcountry)">
                              <option value=0>Seleccione </option>
                              <option *ngFor="let list of DataCountry" [ngValue]="list.id">{{list.description}}</option>
                            </select>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="iddepto">Departamento del centro</label>

                            <select class="form-control" id="iddepto" name="iddepto" formControlName="iddepto"
                              [(ngModel)]="Centros.iddepto">
                              <option value=0>Seleccione </option>
                              <option *ngFor="let list of DataDeptos" [ngValue]="list.id">{{list.description}}</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="description">Descripción</label>
                            <input class="form-control letrasandnum" type="text" name="description" id="description" formControlName="description"
                              [(ngModel)]="Centros.description" placeholder="Ingrese la descripción" required>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="email">Correo</label>
                            <input class="form-control letrasandnum" type="text" name="email" id="email" formControlName="email"
                              [(ngModel)]="Centros.email" placeholder="Ingrese la correo" required>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="telephone">Teléfono</label>
                            <input class="form-control letrasandnum" type="text" name="telephone" id="telephone" formControlName="telephone"
                              [(ngModel)]="Centros.telephone" placeholder="Ingrese el correo" required>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="website">Sitio web</label>
                            <input class="form-control letrasandnum" type="text" name="website" id="website" formControlName="website"
                              [(ngModel)]="Centros.website" placeholder="Ingrese su sitio web">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="address">Direccion</label>
                            <input class="form-control letrasandnum" type="text" name="address" id="address" formControlName="address"
                              [(ngModel)]="Centros.address" placeholder="Ingrese la Direccion" required>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group" *ngIf="type==1">
                            <label for="img">Logos</label>
                            <input class="form-control" type="file" accept=".png, .jpg, .jpeg" name="img" id="img"
                              formControlName="img" [(ngModel)]="Centros.img" placeholder="Ingrese la correo" (change)="onArchivoSeleccionado($event)">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="state">Estado</label>
                            <select type="text" class="form-control" id="state" name="state" formControlName="state"
                              [(ngModel)]="Centros.state" required>
                              <option *ngFor="let item of estado" [ngValue]="item.id">{{item.descripcion}}</option>
                            </select>
                          </div>
                        </div>
                      </div>


                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-sm" (click)="Save(Centros)" [disabled]="!ComForm.valid"><i
                        class="fa fa-save"></i>&nbsp;&nbsp;Guardar</button>

                    <button type="button" class="btn btn-danger btn-sm" (click)="primaryModal.hide()" (click)="Clean()"><i
                        class="fa fa-ban"></i>&nbsp;&nbsp;Cancelar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
