<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">

      <div class="card">

        <div class="card-header" style="background:white">
          <strong>Agregar contenido a su muro en la aplicación</strong>
          <div class="card-header-actions">
            <div class="card-header-action">
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
                    <iframe class="mi-iframe" width="100%" height="315" [src]="Videos.videomuro" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

          </div>
        </div>
      </div>

      <div class="card">

        <div class="card-header" style="background:white">
          <strong>Target para reconocimineto de imagen AR</strong>
          <div class="card-header-actions">
            <div class="card-header-action">

              
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <iframe class="mi-iframe" width="100%" height="315" [src]="Videos.videoTarget" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

              <a href="https://cas.wikitude.com/cas/login">Ir al Studio Manager</a>
            </div>

          </div>
        </div>
      </div>

      <div class="card">

        <div class="card-header" style="background:white">
          <strong>Agregar video para vista AR</strong>
          <div class="card-header-actions">
            <div class="card-header-action">

            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <iframe class="mi-iframe" width="100%" height="315" [src]="Videos.videoyoutube" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </div>

          </div>
        </div>
      </div>



      <div class="card">

        <div class="card-header" style="background:white">
          <strong>Agregar un punto Geo AR</strong>
          <div class="card-header-actions">
            <div class="card-header-action">
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <iframe class="mi-iframe" width="100%" height="315" [src]="Videos.videopunto" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

            </div>

          </div>
        </div>
      </div>



    </div>
  </div>
</div>
