<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Usuarios</strong>
          <div class="card-header-actions">
            <div class="card-header-action">
              <button type="button" class="form-control" class="btn btn-success btn-sm" tooltip="Agregar nuevo usuario"
                placement="top" data-toggle="modal" (click)="open('')"><i class="fa fa-plus"></i>&nbsp;&nbsp;Nuevo
                usuario</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12">
              <div class="row">
                <div class=" col-xs-12 col-sm-12 col-md-6 col-xl-4" *ngFor="let user of users | paginate: { itemsPerPage: 6, currentPage: p }; let i = index">
                  <div class="card">
                    <div class="card-header">
                      <i class="fa fa-user"></i><strong>{{user.names}}</strong>
                      <div class="card-header-actions">
                        <a class="card-header-action" tooltip="Editar usuario" placement="top" (click)="open(user)"
                          style="cursor: pointer;">
                          <i class="fa fa-pencil"></i>
                        </a>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col-sm-6 col-md-6 text-primary">Nombre usuario:</div>
                        <div class="col-sm-6 col-md-6 ">{{user.nameuser}}</div>
                      </div> 
                     
                      <div class="row">
                        <div class="col-sm-6 col-md-6 text-primary">Rol:</div>
                        <div class="col-sm-6 col-md-6 ">{{filterRol(user.idtypeuser)}}</div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6 col-md-6 text-primary">Estado:</div>
                        <div class="col-sm-6 col-md-6 ">{{user.state}}</div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6 col-md-6 text-primary">Centro:</div>
                        <div class="col-sm-6 col-md-6 ">{{filterCenter(user.idcenter)}}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="bg-white text-center">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
              </div>
            </div>
          </div>
          <div bsModal #primaryModal="bs-modal" class="modal fade " tabindex="-1 " role="dialog " aria-labelledby="myModalLabel "
            aria-hidden="true ">
            <div class="modal-dialog modal-lg" role="document ">
              <div class="modal-content ">
                <div class="modal-header bg-light">
                  <h5 class="modal-title ">{{action}}</h5>
                  <button type="button " class="close " (click)="primaryModal.hide()" (click)="Clean()" aria-label="Close ">
                    <span aria-hidden="true ">&times;</span>
                  </button>
                </div>
                <div class="modal-body ">
                  <form [formGroup]="UserForm" (ngSubmit)="Save(user)" autocomplete="off" novalidate>
                    <div class="row" >

                      <div class="col-md-6 ">

                        <div class="form-group">
                          <label for="names">Nombre</label>
                          <input class="form-control letrasandnum" type="text " name="names" id="names" formControlName="names"
                            [(ngModel)]="user.names" placeholder="Ingrese el nombre">
                        </div>
                      </div>
                      <div class="col-md-6 ">
                        <div class="form-group ">
                          <label for="nameuser">Nombre de usuario</label>
                          <input class="form-control letrasandnum" type="text " name="nameuser" id="nameuser" formControlName="nameuser"
                            [(ngModel)]="user.nameuser" placeholder="Ingrese el nombre de usuario">
                        </div>
                      </div>

                      <div class="col-md-6 ">
                        <div class="form-group ">
                          <label for="password ">Contraseña</label>
                          <input class="form-control letrasandnum" type="password" name="password" id="password" formControlName="password"
                            [(ngModel)]="user.password" placeholder="Ingrese la contraseña ">
                        </div>
                      </div>
                      <div class="col-md-6 ">
                        <div class="form-group ">
                          <label for="email">Correo</label>
                          <input class="form-control letrasandnum" type="text " name="email" id="email" formControlName="email"
                            [(ngModel)]="user.email" placeholder="Correo electrónico">
                        </div>
                      </div>
                      <div class="col-md-6 ">
                        <div class="form-group ">
                          <label for="phone">Teléfono</label>
                          <input class="form-control letrasandnum" type="text " name="phone" id="phone" formControlName="phone"
                            [(ngModel)]="user.phone" placeholder="Telefono">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="idtypeuser">Rol</label>

                          <select class="form-control" id="idtypeuser" name="idtypeuser" formControlName="idtypeuser"
                            [(ngModel)]="user.idtypeuser">
                            <option value=0>Seleccione rol</option>
                            <option *ngFor="let type of typeUsers" [ngValue]="type.id">{{type.description}}</option>
                          </select>
                        </div>
                      </div>


                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="state">Estado</label>

                          <select class="form-control" id="state" name="state" formControlName="state" [(ngModel)]="user.state">
                            <option *ngFor="let item of estado" [ngValue]="item.id">{{item.state}}</option>
                          </select>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="state">Centro</label>

                          <select class="form-control" id="idcenter" name="idcenter" formControlName="idcenter"
                            [(ngModel)]="user.idcenter">
                            <option value=0>Seleccione opcion</option>
                            <option *ngFor="let item of Center" [ngValue]="item.id">{{item.description}}</option>
                          </select>
                        </div>
                      </div>

                    </div>

                  </form>
                </div>
                <div class="modal-footer ">
                    <button type="submit" class="btn btn-primary btn-sm " [disabled]="!UserForm.valid" (click)="Save(user)"><i class="fa fa-save"></i>&nbsp;&nbsp;Guardar</button>

                  <button type="button" class="btn btn-danger btn-sm " (click)="primaryModal.hide()" ><i
                      class="fa fa-ban"></i>&nbsp;&nbsp;Cancelar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
