<ngx-spinner></ngx-spinner>
<div class="row" style="display: block; width: 100%;" *ngIf="slides?.length > 0">
    <carousel [(activeSlide)]="activeSlideIndex">
        <slide *ngFor="let sd of slides">
            <img [src]="sd.image" alt="image slide" style="display: block; width: 100%;">

            <div class="carousel-caption">
                <h4>{{sd.title}}</h4>
                <p>{{sd.description}}</p>
            </div>
        </slide>
    </carousel>
</div>