<app-header [fixed]="true" [sidebarToggler]="'lg'" [asideMenuToggler]="'lg'">
  <!-- <ul class="nav navbar-nav d-md-down-none">
        <li class="nav-item px-3">
            <a class="nav-link"></a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link"></a> 
        </li>
        <li class="nav-item px-3">
            <a class="nav-link"></a>
        </li>
    </ul>-->
  <ul class="nav navbar-nav ml-auto" style="cursor: pointer">
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"
        dropdownToggle (click)="false">
        <img src="{{img}}" class="img-avatar" alt="" />
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <a class="dropdown-item" [routerLink]="['/administracion/perfil']"><i class="fa fa-user"></i> Perfil</a>
        <a class="dropdown-item" [routerLink]="['/login']"><i class="fa fa-lock"></i> Cerrar sesion</a>
      </div>
    </li>
  </ul>
</app-header>
<div class="app-body">
  <app-sidebar [fixed]="true" [display]="'lg'">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="sidebarMinimized" *ngIf="navItems.length>0"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <main class="main">
    <ol class="breadcrumb">
      <app-breadcrumb></app-breadcrumb>
    </ol>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
<app-footer>
  <span>Innovationtc &copy; 2019</span>
</app-footer>
