.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #23282c;
  border-color: #343b41; }

table{
  background-color: red;
}
/*# sourceMappingURL=persons.component.css.map */
