<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong>Recursos</strong>
                    <div class="card-header-actions">
                        <div class="card-header-action">
                            <button type="button" class="form-control" class="btn btn-success btn-sm" data-toggle="modal" (click)="primaryModal.show()" (click)="Clean()"><i class="fa fa-plus"></i>&nbsp;&nbsp;Nuevo</button>
                        </div>
                    </div>
                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-sm table-bordered table-hover table-outline display compact nowrap">
                                    <thead class="text-center">
                                        <tr>
                                            <th>Id</th>
                                            <th>Nombre</th>
                                            <th>Descripción</th>
                                            <th>Estado</th>
                                            <th>Modulo</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody class="text-center">
                                        <tr *ngFor="let resource of resources; let i = index">
                                            <td>
                                                <div>{{i + 1}}</div>
                                            </td>
                                            <td>
                                                <div>{{resource.name}}</div>
                                            </td>
                                            <td>
                                                <div>{{resource.description}}</div>
                                            </td>
                                            <td>
                                                <div>{{resource.state}}</div>
                                            </td>
                                            <td>
                                                <div>{{resource.id_module}}</div>
                                            </td>
                                            <td>
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-primary btn-sm" (click)="primaryModal.show()" (click)="Edit(resource)"><i class="fa fa-pencil"></i>&nbsp;&nbsp;Editar</button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div bsModal #primaryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header bg-light">
                                        <h5 class="modal-title">{{action}}</h5>
                                        <button type="button" class="close" (click)="primaryModal.hide()" (click)="Clean()" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                        <form [formGroup]="ResourceForm" (ngSubmit)="Save(resource)" autocomplete="off" novalidate>
                                            <div class="form-group">
                                                <label for="name">Nombre</label>
                                                <input class="form-control" type="text" name="name" id="name" formControlName="name" [(ngModel)]="resource.name" placeholder="Ingrese el nombre del recurso" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="description">Descripción</label>
                                                <input class="form-control" type="text" name="description" id="description" formControlName="description" [(ngModel)]="resource.description" placeholder="Ingrese la descripción" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="state">Estado</label>
                                                <select type="text" class="form-control" id="state" name="state" formControlName="state" [(ngModel)]="resource.state" required>
                                                    <option >Seleccione estado</option>
                                                    <option *ngFor="let item of estado" [ngValue]="item.id">{{item.descripcion}}</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="id_module">Modulo</label>
                                                <select type="text" class="form-control" id="id_module" name="id_module" formControlName="id_module" [(ngModel)]="resource.id_module" required>
                                                        <option >Seleccione modulo</option>
                                                        <option *ngFor="let item of mods" [ngValue]="item.id">{{item.name}}</option>
                                                    </select>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger btn-sm" (click)="primaryModal.hide()" (click)="Clean()"><i class="fa fa-ban"></i>&nbsp;&nbsp;Cancelar</button>
                                        <button type="submit" class="btn btn-primary btn-sm" (click)="Save(resource)"><i class="fa fa-save"></i>&nbsp;&nbsp;Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>