<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong>Tipos de Usuario</strong>
                    <div class="card-header-actions">
                        <div class="card-header-action">
                            <button type="button" class="form-control" class="btn btn-success btn-sm" data-toggle="modal" (click)="primaryModal.show()" (click)="Clean()"><i class="fa fa-plus"></i>&nbsp;&nbsp;Nuevo</button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table datatable table-sm table-bordered table-hover  display compact nowrap">
                                <thead class="text-center">
                                    <tr>
                                        <th>Id</th>
                                        <th>Descripción</th>
                                        <th>Estado</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody class="text-center">
                                    <tr *ngFor="let typeUser of typeUsers; let i = index">
                                        <td>
                                            {{i + 1}}
                                        </td>
                                        <td>
                                            {{typeUser.description}}
                                        </td>
                                        <td>
                                            {{typeUser.state}}
                                        </td>
                                        <td>
                                            <div class="btn-group">
                                                <div class="pr-1">
                                                    <button type="button" class="btn btn-primary btn-sm" (click)="primaryModal.show()" (click)="Edit(typeUser)"><i class="fa fa-pencil"></i>&nbsp;&nbsp;Editar</button>
                                                </div>
                                                <div>
                                                    <button type="button" class="btn btn-success btn-sm" (click)="secondModal.show()" (click)="Asignar(typeUser)"><i class="fa fa-tasks"></i>&nbsp;&nbsp;Asignar</button>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- Editar y Nuevo -->
                        <div bsModal #primaryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header bg-light">
                                        <h5 class="modal-title">{{action}}</h5>
                                        <button type="button" class="close" (click)="primaryModal.hide()" (click)="Clean()" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                        <form [formGroup]="Rolform" (ngSubmit)="Save(typeUser)" autocomplete="off" novalidate>
                                            <div class="form-group">
                                                <label for="description">Descripción</label>
                                                <input class="form-control" type="text" name="description" id="description" formControlName="description" [(ngModel)]="typeUser.description" placeholder="Ingrese la descripción" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="state">Estado</label>
                                                <select type="text" class="form-control" id="state" name="state" formControlName="state" [(ngModel)]="typeUser.state" required>
                                                        <option >Seleccione estado</option>
                                                        <option *ngFor="let item of estado" [ngValue]="item.id">{{item.descripcion}}</option>
                                                </select>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger btn-sm" (click)="primaryModal.hide()" (click)="Clean()"><i class="fa fa-ban"></i>&nbsp;&nbsp;Cancelar</button>
                                        <button type="submit" class="btn btn-primary btn-sm" (click)="Save(typeUser)"><i class="fa fa-save"></i>&nbsp;&nbsp;Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Asignar Recursos -->
                        <div bsModal #secondModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header bg-light">
                                        <h5 class="modal-title">{{action}}</h5>
                                        <button type="button" class="close" (click)="secondModal.hide()" (click)="Clean()" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="card" *ngFor="let item of estado">
                                            <div>
                                                <div class="card-header bg-info" role="tab">
                                                    <h5 class="mb-0">
                                                        <a data-toggle="collapse" data-toggle="collapse" (click)="isCollapsed = !isCollapsed" style="cursor: pointer">{{item.descripcion}}</a>
                                                    </h5>
                                                </div>
                                                <div (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isCollapsed">
                                                    <div class="col-md-12 mt-3">
                                                        <div class="row" *ngFor="let typeUser of typeUsers">
                                                            <div class="col-md-10">
                                                                {{typeUser.description}}
                                                            </div>
                                                            <div class="col-md-2">
                                                                <label class="label-switch switch-info">
                                                                <input type="checkbox" class="switch switch-bootstrap status" name="status" id="status" value="1" checked="checked">
                                                                <span class="lable"></span>
                                                            </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger btn-sm" (click)="secondModal.hide()" (click)="Clean()"><i class="fa fa-ban"></i>&nbsp;&nbsp;Cancelar</button>
                                        <button type="submit" class="btn btn-primary btn-sm" (click)="Save(typeUser)"><i class="fa fa-save"></i>&nbsp;&nbsp;Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>