.mi-iframe {
    width: 100%;
    height: 50px;
  }
  
  /* CSS pantallas de 320px o superior */
  @media (min-width: 320px) {
  
    .mi-iframe {
      width: 100%;
      height: 150px;
    } 
  
  }
  
  /* CSS pantalla 768px o superior */
  @media (min-width: 768px) {
  
    .mi-iframe {
      width: 100%;
      height: 350px;
    } 
  
  }