<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">


      <div class="card">



        <div class="card-header" style="background:white">
          <strong>Información principal</strong>
          <div class="card-header-actions">
            <div class="card-header-action">
              <button type="button" class="form-control" class="btn btn-success btn-sm" data-toggle="modal" (click)="open('')"><i
                  class="fa fa-plus"></i>&nbsp;&nbsp;Nueva publicación</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="table-responsive">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-sm table-bordered table-hover table-outline display compact nowrap">
                  <thead class="text-center">
                    <tr>
                      <th>Título</th>
                      <th>Descripción</th>
                      <th>Categoría</th>
                      <th>Imagen</th>
                      <th>Recurso asociado AR</th>
                      <th>url externa</th>
                      <th>Estado</th>
                      <th>Acciones</th>
                    </tr>
                  </thead>
                  <tbody class="text-center">
                    <tr *ngFor="let list of typeData; let i = index">
                      <td>{{truncate(list.title)}}...</td>
                      <td>{{truncate(list.description)}}...</td>
                      <td>{{filterCategory(list.idcategory)}}</td>
                      <td><img src="{{host+list.img_main}}" alt="" style="width:50px;height:50px"></td>
                      
                      <td>{{filterResource(list.idtyperesourcear)}}</td>
                      <td>{{truncate(list.urlexternal)}}...</td>
                      <td>{{list.state}}</td>
                      <td>
                        <div class="btn-group">
                          <button type="button" class="btn btn-danger btn-sm" (click)="Eliminar(list)"><i class="fa fa-pencil"></i>&nbsp;&nbsp;Eliminar</button>&nbsp;&nbsp;
                          <button type="button" class="btn btn-success btn-sm" (click)="ActivarVistaAr(list,list.allresources,true)"><i
                              class="fa fa-pencil"></i>&nbsp;&nbsp;Detalle
                            app</button>

                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div bsModal #primaryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
              aria-hidden="true">
              <div class="modal-dialog  modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header bg-light">
                    <h5 class="modal-title">{{action}}</h5>
                    <button type="button" class="close" (click)="primaryModal.hide()" (click)="Clean()" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body content">
                    <form [formGroup]="ComForm" (ngSubmit)="Save(Information)" autocomplete="off" novalidate>

                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="title">Título</label>
                            <input class="form-control letrasandnum" type="text" name="title" id="title"
                              formControlName="title" [(ngModel)]="Information.title" placeholder="Titulo">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="state">Categoría</label>
                            <select type="text" class="form-control" id="idcategory" name="idcategory" formControlName="idcategory"
                              [(ngModel)]="Information.idcategory">
                              <option *ngFor="let item of CategoryData" [ngValue]="item.id">{{item.description}}</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="state">Tipo de recurso para su vista AR</label>
                            <select type="text" class="form-control" id="idtyperesourcear" name="idtyperesourcear"
                              formControlName="idtyperesourcear" [(ngModel)]="Information.idtyperesourcear">
                              <option *ngFor="let item of typeResource" [ngValue]="item.id">{{item.description}}</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group" *ngIf="type==1">
                            <label for="img_main">Imagen principal</label>
                            <input class="form-control" type="file" accept=".png, .jpg, .jpeg" name="img_main" id="img_main"
                              formControlName="img_main" [(ngModel)]="Information.img_main" placeholder="Ingrese la correo"
                              (change)="onArchivoSeleccionado($event)">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="state">Estado</label>
                            <select type="text" class="form-control" id="state" name="state" formControlName="state"
                              [(ngModel)]="Information.state">
                              <option *ngFor="let item of estado" [ngValue]="item.id">{{item.descripcion}}</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="description">Descripción para primera vista</label>
                            <textarea class="form-control letrasandnum" type="text" name="description" rows="5" id="description"
                              formControlName="description" [(ngModel)]="Information.description" placeholder="Ingrese la descripción">
                                </textarea>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="urlexternal">Asociar a alguna url</label>
                              <input class="form-control letrasandnum" type="text" name="urlexternal" id="urlexternal"
                                formControlName="urlexternal" [(ngModel)]="Information.urlexternal" placeholder="URl externa">
                            </div>
                          </div>
                         
                        </div>


                    </form>
                  </div>
                  <div class="modal-footer">

                    <button type="submit" class="btn btn-primary btn-sm" (click)="Save(Information)" [disabled]="!ComForm.valid"><i
                        class="fa fa-save"></i>&nbsp;&nbsp;Guardar</button>
                    <button type="button" class="btn btn-danger btn-sm" (click)="primaryModal.hide()" (click)="Clean()"><i
                        class="fa fa-ban"></i>&nbsp;&nbsp;Cancelar</button>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--Card para agregar filw WTC-->
      <div class="card" *ngIf="wtcvisible">
        <div class="card-header" style="background:white">
          <strong>Adjuntar target de destino</strong>
          <div class="card-header-actions">
            <div class="card-header-action">
              <button type="button" class="form-control" class="btn btn-warning btn-sm" data-toggle="modal" (click)="ActivarVistaAr(false)"><i
                  class="fa fa-eye"></i>&nbsp;&nbsp;Ocultar</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="table-responsive">

                <form [formGroup]="MyFormWTC" (ngSubmit)="SaveWTC(InformationWTC)" autocomplete="off" novalidate>

                  <div class="row">
                    <p *ngIf="wtcadd!=null &&  wtcadd!=''">El target de destino ya se encuentra cargado</p>
                    <div class="col-sm-6" *ngIf="wtcadd==null || wtcadd===''">
                      <div class="form-group">
                        <label for="uri">Adjuntar target de destino</label>
                        <input class="form-control" type="file" accept=".wtc" name="target" id="target" formControlName="target"
                          [(ngModel)]="InformationWTC.target" placeholder="Ingrese la correo" (change)="onArchivoSeleccionadoWTC($event)">
                      </div>
                    </div>


                    <div class="col-sm-6">
                      <button class="btn btn-danger" *ngIf="wtcadd!=null &&  wtcadd!=''" type="button" (click)="EliminarTarget()"><span
                          class="fa fa-trash"></span>Eliminar Target</button>

                    </div>


                  </div>


                  <button type="submit" *ngIf="wtcadd==null || wtcadd==''" class="btn btn-primary btn-sm" [disabled]="!MyFormWTC.valid"><i
                      class="fa fa-save"></i>&nbsp;&nbsp;Guardar</button>
                  <br><br>
                </form>



              </div>
            </div>

          </div>
        </div>
      </div>
      <!--card para agregar recursos AR-->
      <div class="card" *ngIf="vistaAR">
        <div class="card-header" style="background:white">
          <strong>Vista AR en la aplicacion</strong>
          <div class="card-header-actions">
            <div class="card-header-action">
              <button type="button" class="form-control" class="btn btn-warning btn-sm" data-toggle="modal" (click)="ActivarVistaAr(false)"><i
                  class="fa fa-eye"></i>&nbsp;&nbsp;Ocultar</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="table-responsive">

                <form [formGroup]="MyForm" (ngSubmit)="SaveAR(dataAR)" autocomplete="off" novalidate *ngIf="allresources.length==0">

                  <div class="row">

                    <input style="display:none" type="text" id="idtyperesources" name="idtyperesources" formControlName="idtyperesources"
                      [(ngModel)]="dataAR.idtyperesources">

                    <div class="col-sm-6" *ngIf="dataAR.idtyperesources==1">
                      <div class="form-group">
                        <label for="uri"> Seleccione imagen para vista AR</label>
                        <input class="form-control" type="file" accept=".png, .jpg, .jpeg" name="uri" id="uri"
                          formControlName="uri" [(ngModel)]="dataAR.uri" placeholder="Ingrese la correo" (change)="onArchivoSeleccionado($event)">
                      </div>
                    </div>

                    <div class="col-sm-6" *ngIf="dataAR.idtyperesources==2">

                        <div class="form-group">
                            <label for="uri"> Seleccione video para vista AR</label>
                            <input class="form-control" type="file" accept=".mp4" name="uri" id="uri"
                              formControlName="uri" [(ngModel)]="dataAR.uri" placeholder="Ingrese la correo" (change)="onArchivoSeleccionado($event)">
                          </div>
                   <!--   <div class="form-group">
                        <label for="uri">ID video Youtube</label>
                        <input class="form-control" type="text"  name="uri" id="uri" formControlName="uri"
                          [(ngModel)]="dataAR.uri" placeholder="Ingrese la correo" >
                      </div>
                      <button class="btn btn-primary btn-sm" type="button" (click)="verificarFn(dataAR.uri)">Verficar video</button>-->

                    </div>
                    <div class="col-sm-12">
                      <div class="form-group">
                        <label for="description">Texto para vista AR</label>
                        <textarea class="form-control letrasandnum" type="text" name="description" id="description"
                          formControlName="description" [(ngModel)]="dataAR.description" placeholder="Ingrese la descripción"
                          maxlength="200">
                          </textarea>
                      </div>
                    </div>


                  </div>

                  <button type="submit" class="btn btn-primary btn-sm" [disabled]="!MyForm.valid"><i class="fa fa-save"></i>&nbsp;&nbsp;Guardar</button>

                </form>

                
               
                    <br><br>
                    
                   <!-- <iframe *ngIf="dataAR.idtyperesources==2 && video!=null && video!=''" class="mi-iframe" width="100%" height="315" [src]="video" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>-->

                <h3 *ngIf="allresources.length>0">Galeria de recursos</h3><br>
                <div class="row" *ngIf="allresources.length>0">

                  <div class="col-sm-6" *ngFor="let x of allresources">

                    <img *ngIf="x.idtyperesources==1" src="{{host+x.uri}}" class="img-thumbnail img-responsive" style="height:200px"><br>

                    

                   <!-- <video *ngIf="x.idtyperesources==2" width="400" height="181" controls>
                      <source src="{{host+x.uri}}" type="video/mp4" />
                      <source src="{{host+x.uri}}" type="video/ogg" />
                      <source src="{{host+x.uri}}" type="video/webm" />
                    </video><br>-->

                    <button class="btn btn-danger" type="button" (click)="EliminarResource(x.id)"><span class="fa fa-trash"></span>
                      Eliminar</button>

                  </div>


                  <div class="col-sm-3">

                  </div><br>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
