<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">


      <div class="card">



        <div class="card-header" style="background:white">
          <strong>Categorías</strong>
          <div class="card-header-actions">
            <div class="card-header-action">    
              <button type="button" class="form-control" class="btn btn-success btn-sm" data-toggle="modal" (click)="open('')"
                (click)="Clean()"><i class="fa fa-plus"></i>&nbsp;&nbsp;Nueva categoría   </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">

              <div class="col-md-12">
                  <button class="btn btn-primary" (click)="probar(tabla)">obtener valores</button>
                  <div>
                      Servicios X
                          <table id="tablaDinamia"  class="table dataTable table-sm table-bordered">
                                  <thead>
                                      <tr>
                                          <th *ngFor="let list of tabla.requisitosFinal">{{list.nombres}}</th>
                                          <th>Acciones</th>
                                      </tr>
                                  </thead> 
                                  <tbody>
                                      <tr *ngFor="let list3 of rows">
                                          <td *ngFor="let list2 of tabla.requisitosFinal;let i=index;">
                                              <input type="text" id="{{list2.id}}" class="form-control text-center inputsTable">
                                          </td>
                                          <td class="text-center">
                                                  <div class=" btn-group pt-1">
                                                      <button type="button" style="width: 70px" class="btn btn-primary btn-sm mr-1" (click)="item.isEditable=!item.isEditable"><i class="fa fa-pencil pr-1"></i>Editar</button>
                                                      <button type="button" style="width: 70px" class="btn btn-success btn-sm mr-1" (click)="item.isEditable=!item.isEditable"><i class="fa fa-save pr-1"></i>Guardar</button>
                                                  </div>
                                          </td>
                                      </tr>
                                  </tbody>
                      </table>
                 </div>
                 
              </div>

            <div class="col-md-12">
              <div class="table-responsive">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-sm table-bordered table-hover table-outline display compact nowrap">
                  <thead class="text-center">
                    <tr>
                      <th>Descripción</th>
                      <th>Estado</th>
                      <th>Acciones</th>
                    </tr>
                  </thead>
                  <tbody class="text-center">
                    <tr *ngFor="let list of CategoryData; let i = index">
                      <td>
                        <div>{{list.description}}</div>
                      </td>
                      <td>
                        <div>{{list.state}}</div>
                      </td>
                      <td>
                        <div class="btn-group">
                          <button type="button" class="btn btn-primary btn-sm" (click)="open(list)"><i
                              class="fa fa-pencil"></i>&nbsp;&nbsp;Editar</button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div bsModal #primaryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
              aria-hidden="true">
              <div class="modal-dialog " role="document">
                <div class="modal-content">
                  <div class="modal-header bg-light">
                    <h5 class="modal-title">{{action}}</h5>
                    <button type="button" class="close" (click)="primaryModal.hide()" (click)="Clean()" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form [formGroup]="ComForm" (ngSubmit)="Save(Category)" autocomplete="off" novalidate>

                      <div class="form-group">
                        <label for="description">Descripción</label>
                        <input class="form-control sololetras" type="text" name="description" id="description" formControlName="description"
                          [(ngModel)]="Category.description" placeholder="Ingrese la descripción" required>
                      </div>
                      <div class="form-group">
                        <label for="state">Estado</label>
                        <select type="text" class="form-control" id="state" name="state" formControlName="state"
                          [(ngModel)]="Category.state" required>
                          <option *ngFor="let item of estado" [ngValue]="item.id">{{item.descripcion}}</option>
                        </select>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                      <button type="submit" class="btn btn-primary btn-sm" [disabled]="!ComForm.valid" (click)="Save(Category)"><i class="fa fa-save"></i>&nbsp;&nbsp;Guardar</button>

                    <button type="button" class="btn btn-danger btn-sm" (click)="primaryModal.hide()" (click)="Clean()"><i
                        class="fa fa-ban"></i>&nbsp;&nbsp;Cancelar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
