<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong>Usuarios</strong>
                    <div class="card-header-actions">
                        <div class="card-header-action">
                            <button type="button" class="form-control" class="btn btn-success btn-sm" tooltip="Agregar nuevo usuario" placement="top" data-toggle="modal" (click)="primaryModal.show()" (click)="Edit()" (click)="Clean()"><i class="fa fa-plus"></i>&nbsp;&nbsp;Nuevo</button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12">
                            <div class="row">
                                <div class=" col-xs-12 col-sm-12 col-md-6 col-xl-4" *ngFor="let user of users | paginate: { itemsPerPage: 6, currentPage: p }; let i = index">
                                    <div class="card">
                                        <div class="card-header">
                                            <i class="fa fa-user"></i><strong>{{user.names}}</strong>
                                            <div class="card-header-actions">
                                                <a class="card-header-action" tooltip="Editar usuario" placement="top" (click)="primaryModal.show()" (click)="Edit(user)" style="cursor: pointer;">
                                                    <i class="fa fa-pencil"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-sm-6 col-md-6 text-primary">Nombre usuario:</div>
                                                <div class="col-sm-6 col-md-6 ">{{user.user_name}}</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6 col-md-6 text-primary">Contraseña:</div>
                                                <div class="col-sm-6 col-md-6 ">{{user.passwor_duser}}</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6 col-md-6 text-primary">Estado:</div>
                                                <div class="col-sm-6 col-md-6 ">{{user.state}}</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6 col-md-6 text-primary">Rol:</div>
                                                <div class="col-sm-6 col-md-6 ">{{user.id_role}}</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6 col-md-6 text-primary">Acceso remoto:</div>
                                                <div class="col-sm-6 col-md-6 ">{{user.remote_access}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="bg-white text-center">
                                <pagination-controls (pageChange)="p = $event"></pagination-controls>
                            </div>
                        </div>
                    </div>
                    <div bsModal #primaryModal="bs-modal" class="modal fade " tabindex="-1 " role="dialog " aria-labelledby="myModalLabel " aria-hidden="true ">
                        <div class="modal-dialog modal-lg" role="document ">
                            <div class="modal-content ">
                                <div class="modal-header bg-light">
                                    <h5 class="modal-title ">{{action}}</h5>
                                    <button type="button " class="close " (click)="primaryModal.hide()" (click)="Clean()" aria-label="Close ">
                                        <span aria-hidden="true ">&times;</span>
                                      </button>
                                </div>
                                <div class="modal-body ">
                                    <form [formGroup]="UserForm" (ngSubmit)="Save(user)" autocomplete="off" novalidate>
                                        <div class="row ">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="names">Nombre</label>
                                                    <input class="form-control" type="text " name="names" id="names" formControlName="names" [(ngModel)]="user.names" placeholder="Ingrese el nombre">
                                                </div>
                                                <div class="row ">
                                                    <div class="col-md-6 ">
                                                        <div class="form-group ">
                                                            <label for="user_name">Nombre de usuario</label>
                                                            <input class="form-control" type="text " name="user_name" id="user_name" formControlName="user_name" [(ngModel)]="user.user_name" placeholder="Ingrese el nombre de usuario">
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6 ">
                                                        <div class="form-group ">
                                                            <label for="passwor_duser ">Contraseña</label>
                                                            <input class="form-control" type="password" name="passwor_duser" id="passwor_duser" formControlName="passwor_duser" [(ngModel)]="user.passwor_duser" placeholder="Ingrese la contraseña ">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row ">
                                            <div class="col-md-12 ">
                                                <div class="row ">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="id_role">Rol</label>
                                                            <ngx-select-dropdown (click)="field('role')" id="id_role" name="id_role" formControlName="id_role" [(ngModel)]="user.id_role" (change)="changeValue($event)" [multiple]="false" [(value)]="user.id_role" [config]="config" [options]="typeUsers" ngDefaultControl>
                                                            </ngx-select-dropdown>
                                                            <!-- <select class="form-control" id="id_role" name="id_role" formControlName="id_role" [(ngModel)]="user.id_role">
                                                                <option >Seleccione rol</option>
                                                                <option *ngFor="let type of typeUsers" [ngValue]="type.id">{{type.description}}</option>
                                                            </select> -->
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="state">Estado</label>
                                                            <ngx-select-dropdown (click)="field('estado')" id="state" name="state" formControlName="state" [(ngModel)]="user.state" (change)="changeValue($event)" [multiple]="false" [(value)]="user.state" [config]="config" [options]="estado" ngDefaultControl>
                                                            </ngx-select-dropdown>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="remote_access">Acceso remoto</label>
                                                            <ngx-select-dropdown (click)="field('remoto')" id="remote_access" name="remote_access" formControlName="remote_access" [(ngModel)]="user.remote_access" (change)="changeValue($event)" [multiple]="false" [(value)]="user.remote_access" [config]="config"
                                                                [options]="acceso" ngDefaultControl>
                                                            </ngx-select-dropdown>
                                                            <!-- <select class="form-control" id="remote_access" name="remote_access" formControlName="remote_access" [(ngModel)]="user.remote_access">
                                                                 <option >Seleccione acceso</option>
                                                                <option *ngFor="let item of acceso" [ngValue]="item.id">{{item.descripcion}}</option>
                                                            </select> -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer ">
                                    <button type="button" class="btn btn-danger btn-sm " (click)="primaryModal.hide()" (click)="Clean()"><i class="fa fa-ban"></i>&nbsp;&nbsp;Cancelar</button>
                                    <button type="submit" class="btn btn-primary btn-sm " (click)="Save(user)"><i class="fa fa-save"></i>&nbsp;&nbsp;Guardar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>