<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">


      <div class="card">



        <div class="card-header" style="background:white">
          <strong>Puntos en AR</strong>
          <div class="card-header-actions">
            <div class="card-header-action">
              <button type="button" class="form-control" class="btn btn-success btn-sm" data-toggle="modal" (click)="open('')"><i
                  class="fa fa-plus"></i>&nbsp;&nbsp;Nuevo punto AR</button>
            </div>
          </div>
        </div>
        <div class="card-body">

          <!-- <agm-map [latitude]="lat" [longitude]="lng">
                        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                      </agm-map>-->
          <div class="row">





            <div class="col-md-12">
              <div class="table-responsive">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-sm table-bordered table-hover table-outline display compact nowrap">
                  <thead class="text-center">
                    <tr>
                        <th>Título</th>
                      <th>Categoría del lugar</th>
                      <th>Descripción</th>
                      <th>Latitud</th>
                      <th>Longitud</th>
                      <th>Altitud</th>                      
                      <th>Url referencia</th>
                      <th>Recurso</th>
                      <th>Tipo de recurso</th>
                      <th>Acciones</th>
                    </tr>
                  </thead>
                  <tbody class="text-center">
                    <tr *ngFor="let list of POIS; let i = index">
                        <td>{{list.title}}</td>
                      <td>{{FilterCategory(list.idcategoryplace)}}</td>
                      <td>{{list.description}}</td>
                      <td>{{list.latitud}}</td>
                      <td>{{list.longitud}}</td>
                      <td>{{list.altitude}}</td>                      
                      <td>{{list.urlreference}}</td>
                      <td><img *ngIf="list.typeresource==1" src="{{host+list.resource}}" alt="" style="width:50px;height:50px" />
                          <span *ngIf="list.typeresource==2">{{list.resource}}</span>
                      </td>
                      <td>{{Filter(list.typeresource,typeData)}}</td>
                      <td>
                        <div class="btn-group">
                          <button type="button" class="btn btn-danger btn-sm" (click)="eliminar(list)"><i class="fa fa-trash"></i>&nbsp;&nbsp;Eliminar</button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div bsModal #primaryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
              aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header bg-light">
                    <h5 class="modal-title">{{action}}</h5>
                    <button type="button" class="close" (click)="primaryModal.hide()" (click)="Clean()" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body content">
                    <div align="center">
                      <p class="text-primary">Latitud y Longitud de Honduras</p>
                      <p class="text-primary">Latitud: 15.0000000</p>
                      <p class="text-primary">Longitud: -86.5000000</p>

                    </div>
                    <form [formGroup]="ComForm" autocomplete="off" novalidate>

                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="idcategoryplace">Categoría Lugar</label>
                            <select class="form-control" id="idcategoryplace" name="idcategoryplace" formControlName="idcategoryplace"
                              [(ngModel)]="DataPoi.idcategoryplace">
                              <option value=0>Seleccione </option>
                              <option *ngFor="let list of DataCategoryPlace" [ngValue]="list.id">{{list.description}}</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="title">Título</label>
                            <input class="form-control letrasandnum" type="text" name="title" id="title" formControlName="title"
                              [(ngModel)]="DataPoi.title" placeholder="Ingrese la Direccion" required>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="latitud">Latitud</label>
                            <input class="form-control solonumero-punto" type="text" name="latitud" id="latitud" formControlName="latitud"
                              [(ngModel)]="DataPoi.latitud" placeholder="latitud" required>
                          </div>

                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="longitud">Longitud</label>
                            <input class="form-control solonumero-punto" type="text" name="longitud" id="longitud" formControlName="longitud"
                              [(ngModel)]="DataPoi.longitud" placeholder="Ingrese el correo" required>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="description">Descripción</label>
                            <input class="form-control letrasandnum" type="text" name="description" id="description" formControlName="description"
                              [(ngModel)]="DataPoi.description" placeholder="Ingrese la descripción" required>
                          </div>


                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="altitude">Altitud</label>
                            <input class="form-control solonumero-punto" type="text" name="altitude" id="altitude" formControlName="altitude"
                              [(ngModel)]="DataPoi.altitude" placeholder="Altitud">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="state">Tipo de recurso</label>
                            <select type="text" class="form-control" id="typeresource" name="typeresource"
                              formControlName="typeresource" [(ngModel)]="DataPoi.typeresource">
                              <option *ngFor="let item of typeData" [ngValue]="item.id">{{item.description}}</option>
                            </select>
                          </div>


                        </div>
                        <div class="col-md-6">
                          <div class="form-group" *ngIf="type==1 && DataPoi.typeresource==1">
                            <label for="resource">Recurso</label>
                            <input class="form-control" type="file" accept=".png, .jpg, .jpeg" name="resource" id="resource"
                              formControlName="resource" [(ngModel)]="DataPoi.resource" placeholder="Ingrese la correo"
                              (change)="onArchivoSeleccionado($event)">
                          </div>

                          <div class="form-group" *ngIf="DataPoi.typeresource==2">
                            <label for="resource">Id video Youtube</label>
                            <input class="form-control" type="text" name="resource" id="resource"
                              formControlName="resource" [(ngModel)]="DataPoi.resource" placeholder="Ingrese la correo">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="urlreference">Sitio web de Rerencia</label>
                            <input class="form-control letrasandnum" type="urlreference" name="title" id="urlreference"
                              formControlName="urlreference" [(ngModel)]="DataPoi.urlreference" placeholder="Ingrese el sitio de referencia">
                          </div>
                        </div>
                      </div>








                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-sm" (click)="Save(DataPoi)" [disabled]="!ComForm.valid || DataPoi.resource==null || DataPoi.resource==''"><i
                        class="fa fa-save"></i>&nbsp;&nbsp;Guardar</button>

                    <button type="button" class="btn btn-danger btn-sm" (click)="primaryModal.hide()" (click)="Clean()"><i
                        class="fa fa-ban"></i>&nbsp;&nbsp;Cancelar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
