<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">


      <div class="card">



        <div class="card-header" style="background:white">
          <strong>Perfiles de usuarios</strong>
          <div class="card-header-actions">
            <div class="card-header-action">
              <button type="button" class="form-control" class="btn btn-success btn-sm" data-toggle="modal" (click)="open('')"
                (click)="Clean()"><i class="fa fa-plus"></i>&nbsp;&nbsp;Nuevo perfil de usuario</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="table-responsive">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-sm table-bordered table-hover table-outline display compact nowrap">
                  <thead class="text-center">
                    <tr>
                      <th>Descripción</th>
                      <th>Estado</th>
                      <th>Acciones</th>
                    </tr>
                  </thead>
                  <tbody class="text-center">
                    <tr *ngFor="let list of typeData; let i = index">
                      <td>
                        {{list.description}}
                      </td>
                     
                      <td>
                       {{list.state}}
                      </td>
                      <td>
                        <div class="btn-group">
                          <button type="button" class="btn btn-primary btn-sm" (click)="open(list)"><i
                              class="fa fa-pencil"></i>&nbsp;&nbsp;Editar</button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div bsModal #primaryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
              aria-hidden="true">
              <div class="modal-dialog " role="document">
                <div class="modal-content">
                  <div class="modal-header bg-light">
                    <h5 class="modal-title">{{action}}</h5>
                    <button type="button" class="close" (click)="primaryModal.hide()" (click)="Clean()" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body content">
                    <form [formGroup]="ComForm" (ngSubmit)="Save(typeUser)" autocomplete="off" novalidate>

                      <div class="form-group">
                        <label for="description">Descripción</label>
                        <input class="form-control letrasandnum" type="text" name="description" id="description" formControlName="description"
                          [(ngModel)]="typeUser.description" placeholder="Ingrese la descripción" required>
                      </div>
                     
                      <div class="form-group">
                        <label for="state">Estado</label>
                        <select type="text" class="form-control" id="state" name="state" formControlName="state"
                          [(ngModel)]="typeUser.state" required>
                          <option *ngFor="let item of estado" [ngValue]="item.id">{{item.descripcion}}</option>
                        </select>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                      <button type="submit" class="btn btn-primary btn-sm" [disabled]="!ComForm.valid" (click)="Save(typeUser)"><i class="fa fa-save"></i>&nbsp;&nbsp;Guardar</button>

                    <button type="button" class="btn btn-danger btn-sm" (click)="primaryModal.hide()" (click)="Clean()"><i
                        class="fa fa-ban"></i>&nbsp;&nbsp;Cancelar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
